@model ProvaTecnica.Rh.Models.CandidatoTecnologia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CandidatoTecnologia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Candidato.nomeCandidato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidato.nomeCandidato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tecnologia.nomeTecnologia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tecnologia.nomeTecnologia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCandidatoTecnologia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
