@model IEnumerable<ProvaTecnica.Rh.Models.CandidatoTecnologia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Candidato.nomeCandidato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tecnologia.nomeTecnologia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Candidato.nomeCandidato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnologia.nomeTecnologia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCandidatoTecnologia }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCandidatoTecnologia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCandidatoTecnologia })
        </td>
    </tr>
}

</table>
